@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>

@{
    var content = Model.Content as UfArticleIntro;
    var settings = Model.Settings as UfRowSettings;

    var sectionClass = string.IsNullOrEmpty(settings?.RowColourTheme) ? null : "uk-section-" + settings?.RowColourTheme.ToLower();
    sectionClass += string.IsNullOrEmpty(settings?.Spacing) ? null : " uk-section-" + settings?.Spacing.ToLower();

    var articleTitle = Umbraco.AssignedContentItem as IUfTitle;
    var articleSummary = Umbraco.AssignedContentItem as IUfSummary;
    var articleDisplayDate = Umbraco.AssignedContentItem as IUfDisplayDate;

    if (articleTitle == null)
    {
        return;
    }
}

<div class="uk-section @sectionClass">
    <div class="uk-container">

        <div uk-grid class="uk-flex-center">
            <div class="uk-width-2-3@s uk-text-center">
                @{ 
                    var articleDate = UF.GetArticleDate(articleDisplayDate);
                }
                
                @if (!string.IsNullOrEmpty(articleDate))
                {
                    <p class="uk-text-meta uk-margin-remove-bottom"><time datetime="@UF.FormatHtmlDate(articleDisplayDate.DisplayDate)">@articleDate</time></p>
                    <h1 class="uk-margin-remove-top">@articleTitle.Title</h1>
                }
                else
                {
                    <h1>@articleTitle.Title</h1>
                }

                @if (articleSummary?.Summary != null)
                {
                    <div class="uk-text-lead uk-margin-remove-last-child">
                        @articleSummary.Summary
                    </div>
                }
            </div>
        </div>
    </div>
</div>